body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px 1px #dbdbdb;
          box-shadow: 0 0 30px 1px #dbdbdb;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  left: calc(50% - 69px);
}

.promo {
  min-height: 515px;
  background-color: #ddebf4;
  background: url("../img/group-1.jpg") no-repeat 0 -55px;
  margin-bottom: 52px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding: 15px 72px;
  padding-bottom: 15px;
  list-style: none;
}

.site-navigation li {
width: 264px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.filters {
  min-height: 218px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-color: #6f99bf;
}

.option-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  padding: 27px 72px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 36px;
}

.option-form legend {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 25px;
}

.type-comfort,
.type-house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
flex-wrap: wrap;

  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.type-comfort li,
.type-house li{
  margin-bottom: 25px;
}

.type-comfort li:last-child,
.type-house li:last-child {
  margin-bottom: 0;
}

.type-comfort,
.type-house {
  width: 220px;
  margin-right: 30px;
}


.pool-checkbox,
.parking-checkbox,
.internet-checkbox,
.hotel-checkbox,
.motel-checkbox,
.appartment-checkbox {
  position: relative;
  padding-left: 40px;
}


.option-form input[type="checkbox"] + .filter-input-checkbox::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 24px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

}

.option-form input[type="checkbox"]:focus + .filter-input-checkbox::before,
.option-form input[type="checkbox"]:focus + .filter-input-checkbox::after {
  outline: 3px solid blue;
}

.option-form input[type="checkbox"]:checked + .filter-input-checkbox::before {
  display: none;
}

.option-form input[type="checkbox"] + .filter-input-checkbox::after {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.option-form input[type="checkbox"]:checked + .filter-input-checkbox::after {
  display: block;
}

.option-form input[type="checkbox"]:disabled + .filter-input-checkbox::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 24px;
  height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  outline: 1px solid #666;
}

.option-form input[type="checkbox"]:disabled:checked + .filter-input-checkbox::after  {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.filter-range {
  width: 318px;
  margin-left: 226px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 18px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  height: 30px;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 31px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 90px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 28px 72px;
  border-bottom: -1px solid #f2f2f2;
}

.found h2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 46px;
  font-size: 21px;

  font-weight: bold;
}

.found p,
.found a {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.found p {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
  }

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  flex-wrap: wrap;
  width: 740px;
}

.sort-item a {
  margin-right: 32px;
  color: #b2b2b2;
}

.sort-item a,
.sort-item a {
  border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #81b3d2;
}

.sort-item a:active {
  color: #000000;
  border-bottom: none;
}

.sort-item-current a {
  color: #81b3d2;
  border-bottom: none;
}

.arrow-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35px;
  margin: 0 auto;
  padding: 0;
}

.arrow-sort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow-sort-item path {
  fill: #cacaca;
}

.arrow-sort-item:hover path,
.arrow-sort-item:focus path {
  fill: #231f20;
}

.arrow-sort-item:active path {
  fill: #81b3d2;
}

.arraw-sort-current path {
  fill: #81b3d2;
}

.main-catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-item {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #f2f2f2;
}

.catalog-item img {
  width: 135px;
  height: 90px;
}

.catalog-list li {
  margin: 0;
  padding: 0;
  padding: 30px 72px;
}

.catalog h3 a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog h3 a:hover,
.catalog h3 a:focus {
  color: #81b3d2;
}

.catalog h3 a:active {
  color: #b2b2b2;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
justify-content: space-between;
  margin-left: 30px;
  width: 750px;
}

.item-info h3 {
  margin: 0;
  margin-top: -7px;
}

.description {
  display: flex;
  flex-wrap: wrap;
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.column-left p,
.column-right p {
  margin-top: 4px;
  margin-bottom: 12px;
}

.button-left,
.button-right {
  margin: 0;
  padding: 1px 17px;
  font: inherit;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.button-left {
  background-color: #81b3d2;
}

.button-left:focus,
.button-left:hover {
  background-color: #669ec0;
}

.button-left:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button-right {
  background-color: #766357;
}

.button-right:focus,
.button-right:hover {
  background-color: #604e43;
}

.button-right:active {
  background-color: #503e33;
  color: #857871;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 36px;
}

.rating-amara {
  width: 92px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: 2px 0;
}

.rating-desert {
  width: 66px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
}

.rating-villas {
  width: 44px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
}

.rating p {
  margin: 0;

  padding: 0 10px;
  background-color: #f2f2f2;
}

.features {
  margin-bottom: 56px;
}

.features-header p {
  margin: 0;
  text-align: center;
}

.features-header h3 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.features-header p {
  font-weight: normal;
  margin-bottom: 50px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.feature-item p {
  margin: 0;
}

.features-item-info {
  width: 400px;
  min-height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}

.title-item {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 22px;
  line-height: 21px;
}

.features-item-info p {
  font-weight: normal;
  margin: 0;
  margin-top: 19px;
  line-height: 21px;
}

.features-item-img-one {
  width: 800px;
  background-image: url("../img/features1.jpg");
  background-position: 0 -78px;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.features-item-img-two {
  width: 800px;
  background-image: url("../img/features2.jpg");
  background-position: 0 -78px;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}


.feature-item-three,
.feature-item-four,
.feature-item-five {
  width: 400px;
  text-align: center;
}

.feature-item-three h2,
.feature-item-four h2,
.feature-item-five h2 {
  margin-top: 46px;
  line-height: 23px;
  margin-bottom: 21px;
}

.feature-item-three p,
.feature-item-four p,
.feature-item-five p {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 58px;
  line-height: 21px;
}

.features-list .gray-bg {
  background-color: #eeeeee;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 82px;
  list-style: none;
}

.service-item {
  position: relative;
}

.house::before {
  content: "";
  position: absolute;
  top: 60px;
  left: calc(50% - 37px);
  width: 75px;
  height: 72px;
  background: url("../img/icon-1.svg") no-repeat 0 0;
}

.food::before {
  content: "";
  position: absolute;
  top: 61px;
  left: calc(50% - 37px);
  width: 74px;
  height: 70px;
  background: url("../img/icon-3.svg") no-repeat 0 0;
}

.souvenirs::before {
  content: "";
  position: absolute;
  top: 57px;
  left: calc(50% - 32px);
  width: 64px;
  height: 76px;
  background: url("../img/icon-2.svg") no-repeat 0 0;
}

.service li {
  text-align: center;
  width: 400px;
  padding-top: 160px;
}

.service h4 {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 21px;
}

.service p {
  line-height: 21px;
}

.interested {
  text-align: center;
}

.interested h2 {
  margin: 0;
  font-size: 32px;
  margin-bottom: 32px;
  letter-spacing: -1px;
}

.interested p {
  margin: 0;
  font-size: 14px;
  line-height: 23px;
}

.button {
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.open-form-search {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.open-form {
  position: relative;
  margin: 0;
  padding: 0;
  width: 568px;
  min-height: 86px;
  background-color: #766357;
  margin-top: 47px;
}

.open-form:hover,
.open-form:focus {
  background-color: #604e43;
}

.open-form:active {
  background-color: #503e33;
  color: #857871;
}

.modal {
  position: relative;
  z-index: 4;
}

.modal-show {
  display: none;
}

@-webkit-keyframes forms {
  0% {
    -webkit-transform: scale(0, 0.3);
            transform: scale(0, 0.3);
  }
  25% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  50% {
    -webkit-transform: scale(0.4, 0.6);
            transform: scale(0.4, 0.6);
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  75% {
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes forms {
  0% {
    -webkit-transform: scale(0, 0.3);
            transform: scale(0, 0.3);
  }
  25% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
  }
  50% {
    -webkit-transform: scale(0.4, 0.6);
            transform: scale(0.4, 0.6);
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  75% {
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.search-motel-form {
  -webkit-animation-name: forms;
          animation-name: forms;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.search-motel-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 316px;
  padding: 55px;
  font-weight: bold;
  background-color: #ffffff;
  }

.form-group-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 458px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-group-item input {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  color: #000000;
}

.form-group-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  margin-right: 15px;
}

.form-group-item input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  min-height: 38px;
  padding-right: 60px;
  padding-left: 14px;
  margin-bottom: 28px;
}

.form-group-item input:focus,
.form-group-item input[type="number"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #ebebeb;
          box-shadow: inset 0 0 0 2px #ebebeb;
  background-color: #ffffff;
}

.form-group-item input:hover {
  background-color: #ebebeb;
}

.form-group-item input:focus {
  border: 2px solid #e5e5e5;
  background-color: transparent;
  border: none;
}

.form-group-item button {
  border: none;
  background-color: transparent;
}

.form-group-item button:hover,
.form-group-item button:focus,
.form-group-item button:active {
  border: none;
}

.calendar-icon {
  position: absolute;
  top: 7px;
  right: 7px;
  background-repeat: no-repeat;
}

.calendar-icon path {
  fill: #a9a9a9;
}

.calendar-icon:hover path,
.calendar-icon:focus path {
  fill: #000000;
}

.calendar-icon:active path {
  fill: #81b3d2;
  border: none;
}

.parent,
.children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

.parent {
  width: 230px;
}

.children {
  width: 180px;
}

.step-parent,
.step-children {
  position: relative;
  width: 120px;
  background-color: #f2f2f2;
}

.step-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  font-size: 0;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.step-down::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.step-down:hover::before,
.step-down:focus::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #000000;
}

.step-down:active::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #81b3d2;
}

.step-up {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  font-size: 0;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.step-up::before,
.step-up::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.step-up:hover::before,
.step-up:hover::after,
.step-up:focus::before,
.step-up:focus::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #000000;
}

.step-up::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.step-up:active::before,
.step-up:active::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #81b3d2;
}

.form-group-item input[type="number"] {
  text-align: center;
  vertical-align: middle;
  min-height: 38px;
  width: 38px;
}

.search-motel-form .button-search {
  width: 458px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 18px;
  background-color: #81b3d2;
  margin-top: 28px;
  font-weight: bold;
}

.search-motel-form .button-search:hover,
.search-motel-form .button-search:focus {
  background-color: #669ec0;
}

.search-motel-form .button-search:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map iframe {
  position: absolute;
  z-index: 2;

  border: none;
  width: 1200px;
  height: 593px;
}

.modal-map {
  height: 593px;
  margin: 0;
  background-color: #f2f1ef;
}

.main-footer {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color:  rgba(255, 255, 255, 0.9);
  margin: 0;
}

.footer-margin {
  margin: 0;
  margin-top: -120px;
}

.main-footer .hashteg {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  padding-top: 41px;
  padding-bottom: 45px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.main-footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-left: 125px;
  margin-right: 125px;
  width: 150px;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 29px;
  list-style: none;
}

.main-footer p {
  margin: 0;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
  width: 46px;
  height: 48px;
  margin-bottom: 6px;
  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

 .social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  fill: #88b6d1;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.author {
  width: 115px;
  height: 41px;
  margin-left: 7px;
}

.author:hover path,
.author:focus path {
  fill: #81b3d2;
}

.author:active path {
  fill: #bdbbbc;
}
